<div class="list">
  <table>
    <thead>
      <tr>
        <td></td>
        <td><%= I18n.t('messages.teams.base.name') %></td>
        <td><%= I18n.t('messages.teams.base.short_name') %></td>
        <td><%= I18n.t('messages.teams.base.shortcut') %></td>
        <td><%= I18n.t('messages.base.action') %></td>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.logo_image(:icon) %></td>
          <td><%= team.name %></td>
          <td><%= team.short_name %></td>
          <td><%= team.shortcut %></td>
          <td>
            <div class="btn-group">
              <%= link_to_show nil, team %>
              <%= link_to_edit nil, edit_team_path(team) %>
              <%= link_to_delete nil, team %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="5">
          <div class="btn-group">
            <%= link_to I18n.t("messages.teams.index.new"), new_team_path, :class => "btn btn-primary" %>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>