<div class="admin teams index">
  <h1>Seznam týmů</h1>

  <div class="list">
    <table>
      <tr>
        <th>Název</th>
        <th>Krátký název</th>
        <th>Zkratka</th>
        <th>Akce</th>
      </tr>

      <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.short_name %></td>
          <td><%= team.shortcut %></td>
          <td class="btn-group">
            <%= link_to 'Zobrazit', team, :class => "btn" %>
            <%= link_to 'Editovat', edit_team_path(team), :class => "btn" %>
            <%= link_to 'Smazat', team, method: :delete, data: { confirm: 'Jste si jistý(á)?' }, :class => "btn" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="footer btn-group">
    <%= link_to 'Nový tým', new_team_path, :class => "btn" %>
  </div>
</div>