<%= form_for(@league) do |f| %>
  <% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% @league.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :shortcut %><br />
    <%= f.text_field :shortcut %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level, :min => 1, :max => 100 %>
  </div>
  <div class="field">
    <%= f.label :division %><br />
    <%= f.number_field :division, :min => 1, :max => 100 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
