<%= form_for(@league, :html => { :class => "form-horizontal" }) do |f| %>
  <div class="control-group">
    <%= f.label I18n.t("messages.leagues.base.name"), :class => "control-label", :for => "league_name" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label I18n.t("messages.leagues.base.short_name"), :class => "control-label", :for => "league_short_name" %>
    <div class="controls">
      <%= f.text_field :short_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label I18n.t("messages.leagues.base.shortcut"), :class => "control-label", :for => "league_shortcut" %>
    <div class="controls">
      <%= f.text_field :shortcut %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label I18n.t("messages.leagues.base.level"), :class => "control-label", :for => "league_level" %>
    <div class="controls">
      <%= f.number_field :level, :min => 1, :max => 100 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label I18n.t("messages.leagues.base.division"), :class => "control-label", :for => "league_division" %>
    <div class="controls">
      <%= f.number_field :division, :min => 1, :max => 100 %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit :value => I18n.t("messages.leagues.#{params[:action]}.submit"), :class => "btn btn-primary" %>

      <% if @buttons %>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <%= I18n.t("messages.base.navigation") %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% for btn in @buttons %>
              <li>
                <%= link_to btn[:body], btn[:url], btn[:html_options] %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>