<div class="list">
  <table>
    <thead>
      <tr>
        <td><%= I18n.t('messages.leagues.base.name') %></td>
        <td><%= I18n.t('messages.leagues.base.short_name') %></td>
        <td><%= I18n.t('messages.leagues.base.shortcut') %></td>
        <td><%= I18n.t('messages.leagues.base.level') %></td>
        <td><%= I18n.t('messages.leagues.base.division') %></td>
        <td><%= I18n.t('messages.base.action') %></td>
      </tr>
    </thead>

    <tbody>
      <% @leagues.each do |league| %>
        <tr>
          <td><%= league.name %></td>
          <td><%= league.short_name %></td>
          <td><%= league.shortcut %></td>
          <td><%= league.level %></td>
          <td><%= league.division %></td>
          <td>
            <div class="btn-group">
              <%= link_to_show nil, league %>
              <%= link_to_edit nil, edit_league_path(league) %>
              <%= link_to_delete nil, league %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="6">
          <div class="btn-group">
              <%= link_to I18n.t("messages.leagues.index.new"), new_league_path, :class => "btn btn-primary" %>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
