<div class="admin leagues index">
  <h1>Seznam lig</h1>

  <div class="list">
    <table>
      <tr>
        <th>Název</th>
        <th>Krátký název</th>
        <th>Zkratka</th>
        <th>Úroveň</th>
        <th>Divize</th>
        <th>Akce</th>
      </tr>

    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td><%= league.short_name %></td>
        <td><%= league.shortcut %></td>
        <td><%= league.level %></td>
        <td><%= league.division %></td>
        <td class="btn-group">
          <%= link_to 'Zobrazit', league, :class => "btn" %>
          <%= link_to 'Editovat', edit_league_path(league), :class => "btn" %>
          <%= link_to 'Smazat', league, method: :delete, data: { confirm: 'Jste si jistý(á)?' }, :class => "btn" %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="footer btn-group">
    <%= link_to 'Nová liga', new_league_path, :class => "btn" %>
  </div>
</div>