<table class="detail-wrapper">
  <tbody>
    <tr>
      <td>
        <div class="detail">
          <div class="content">
            <div class="line">
              <span><%= I18n.t("messages.leagues.base.name") %></span>
              <span><%= @league.name %></span>
            </div>
            <div class="line">
              <span><%= I18n.t("messages.leagues.base.short_name") %></span>
              <span><%= @league.short_name %></span>
            </div>
            <div class="line">
              <span><%= I18n.t("messages.leagues.base.shortcut") %></span>
              <span><%= @league.shortcut %></span>
            </div>
            <div class="line">
              <span><%= I18n.t("messages.leagues.base.level") %></span>
              <span><%= @league.level %></span>
            </div>
            <div class="line">
              <span><%= I18n.t("messages.leagues.base.division") %></span>
              <span><%= @league.division %></span>
            </div>
          </div>
            
          <div class="footer">
            <div class="btn-group">
              <%= link_to I18n.t("messages.base.edit"), edit_league_path(@league), :class => "btn" %>
              <%= link_to I18n.t("messages.base.go_to_list"), leagues_path, :class => "btn" %>
            </div>
          </div>
        </div>
      </td>
      
      <td>
        <%= form_for @new_team, :html => { :class => "form-horizontal" } do |f| %>
          <%= f.hidden_field :league_id %>
          <div class="control-group">
            <%= f.label I18n.t("messages.leagues.show.form_team"), :class => "control-label", :for => "team_id" %>
            <div class="controls">
              <%= f.select :team_id, options_for_select(get_team_options, @new_team.team_id)  %>
            </div>
          </div>
          <div class="control-group">
              <%= f.label I18n.t("messages.leagues.show.form_season"), :class => "control-label", :for => "season" %>
            <div class="controls">
              <%= f.select :season, options_for_select(2000..2100, @new_team.season)  %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.submit :class => "btn btn-primary", :value => I18n.t("messages.leagues.show.form_submit") %>
            </div>
          </div>
        <% end %>
      </td>
    </tr>
    
    <tr>
      <td colspan="2">
        <hr />
        <% for season in @teams %>
          <div class="season">
            <div class="title">
              <%= season[0] %>
            </div>
            <div class="content">
              <% for lt in season[1][:lt] %>
                <%= link_to lt.team.name, lt, method: :delete, data: { confirm: I18n.t('messages.leagues.show.delete_lt_confirmation') }, :class => "btn" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
