<%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
  <div class="control-group">
    <%= f.label I18n.t("messages.base.login"), :class => "control-label", :for => "user_username" %>
    <div class="controls">
      <%= f.text_field :username, :disabled => (params[:action] == "edit") %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label I18n.t("messages.base.email"), :class => "control-label", :for => "user_email" %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label I18n.t("messages.base.users_name"), :class => "control-label", :for => "user_name" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <% if current_user && current_user.is_admin %>
    <div class="control-group">
      <%= f.label I18n.t("messages.users.base.connected_player"), :class => "control-label", :for => "user_player_id" %>
      <div class="controls">
        <%= f.select :player_id, options_for_select(get_player_options({:empty_allowed => true}), @user.player_id.to_s) %>
      </div>
    </div>

    <% if @user.username != ROOT_ACCOUNT_USERNAME %>
      <div class="control-group">
        <%= f.label I18n.t("messages.base.admin"), :class => "control-label", :for => "user_is_admin" %>
        <div class="controls">
          <%= f.check_box :is_admin %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label I18n.t("messages.base.blocked"), :class => "control-label", :for => "user_blocked" %>
        <div class="controls">
          <%= f.check_box :blocked %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if current_user == nil %>
    <div class="control-group">
      <%= f.label I18n.t("messages.base.password"), :class => "control-label", :for => "user_password" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label I18n.t("messages.base.password_confirmation"), :class => "control-label", :for => "user_password_confirmation" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <div class="btn-group">
        <%= f.submit :value => I18n.t("messages.users.#{params[:action]}.submit"), :class => "btn btn-primary" %>
        <% if current_user && current_user.is_admin && @user.activation_state != "active" %>
          <div class="btn btn-primary" onclick="redirect('/users/<%= @user.id %>/activate_manually');"><%= I18n.t "messages.base.activate" %></div>
        <% end %>
      </div>

      <% if @buttons %>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <%= I18n.t("messages.base.navigation") %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% for btn in @buttons %>
              <li>
                <%= link_to btn[:body], btn[:url], btn[:html_options] %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_user && (current_user == @user || current_user == User.order(:id).first) %>
  <%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
    <div class="control-group">
      <%= f.label I18n.t("messages.base.password"), :class => "control-label", :for => "user_password" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label I18n.t("messages.base.password_confirmation"), :class => "control-label", :for => "user_password_confirmation" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <%= f.submit :value => I18n.t("messages.base.change_password"), :class => "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>