<%= javascript_include_tag asset_path("pages/matches/form_addAllGames.js") %>
<div id="fill_attendance" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
      <%= I18n.t("messages.users.form_fillAttendance.title") %>
    </h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <%= label_tag "", I18n.t("messages.base.from"), :class => "control-label", :for => "attendance_start_new" %>
        <div class="controls">
          <div class="datetimepicker input-append date" id="attendance_start" data-behaviour="datetimepicker">
            <input type="text" class="form-control" data-format="yyyy-MM-dd hh:mm:ss" />
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag "", I18n.t("messages.base.to"), :class => "control-label", :for => "attendance_end_new" %>
        <div class="controls">
          <div class="datetimepicker input-append date" id="attendance_end" data-behaviour="datetimepicker">
            <input type="text" class="form-control" data-format="yyyy-MM-dd hh:mm:ss" />
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag "", I18n.t("messages.base.priority"), :class => "control-label", :for => "attendance_priority" %>
        <div class="controls">
          <select id="attendance_priority">
            <% for a in ATTENDANCE_PRIORITY_MIN..ATTENDANCE_PRIORITY_MAX %>
              <option value="<%= a %>"<%= a == ATTENDANCE_PRIORITY_MAX ? " selected" : "" %>><%= I18n.t "messages.priority.p#{a}" %></option>
            <% end %>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <input type="button" id="fillAttendance_submit"
           value="<%= I18n.t("messages.users.form_fillAttendance.submit") %>"
           class="btn btn-primary"
           onclick="FillAttendance.add();" />
  </div>
</div>