<%= render "form_fillAttendance" %>
<%= @selected == nil ? "nil" : "not nil"%>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <% for match in @matches %>
      <% if !match.started && match.possible_dates.count > 0 %>
        <li class="<%= (match == @selected) ? "active" : "" %>">
          <a href="#tab_<%= match.id %>" data-toggle="tab"><%= match.title %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="tab-content">
    <% for match in @matches %>
      <% if !match.started && match.possible_dates.count > 0 %>
        <div class="list tab-pane<%= (match == @selected) ? " active" : "" %>" id="tab_<%= match.id %>">
          <table>
            <thead>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% for date in match.possible_dates %>
                <tr>
                  <td>
                    <%= I18n.l(date.start_time) %>
                    ...
                    <%= I18n.l(date.end_time) %>
                  </td>
                  <td id="attendances_list_<%= date.id %>" data-min="<%= date.start_time %>" data-max="<%= date.end_time %>">
                    <div id="selected_<%= date.id %>">
                      <% for my_date in date.possible_date_selections %>
                        <span id="remove_btn_<%= date.id %>" class="btn" onclick="FillAttendance.remove(<%= date.id %>, <%= my_date.id %>);">
                          <%= I18n.l(my_date.start_time, :format => :short) %>
                          ...
                          <%= I18n.l(my_date.end_time, :format => :short) %>
                          <%= "(#{I18n.t('messages.priority.short.p' + my_date.priority.to_s)})" %>
                        </span>
                      <% end %>
                    </div>
                    <img id="loader_<%= date.id %>" src="<%= asset_path("icons/ajax-loader.gif") %>" class="hidden" />
                    <a id="plus_button_<%= date.id %>" class="btn" href="#fill_attendance" role="button" data-toggle="modal" onclick="FillAttendance.plusClicked(<%= date.id %>)">+</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>