<div class="admin users show">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Uživatelské jméno:</b>
    <%= @user.username %>
  </p>

  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <p>
    <b>Hráč:</b>
    <%= @user.player ? get_player_name(@user.player) : "žádný" %>
  </p>

  <% if current_user %>
    <div class="footer btn-group">
      <%= link_to 'Editovat', edit_user_path(@user), :class => "btn" %>
      <%= link_to 'Zobrazit seznam', users_path, :class => "btn" %>
    </div>
  <% end %>
</div>