<div class="admin users show">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Uživatelské jméno:</b>
    <%= @user.username %>
  </p>

  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <p>
    <b>Hráč:</b>
    <%= @user.player ? get_player_name(@user.player) : "žádný" %>
  </p>


  <%= link_to 'Edit', edit_user_path(@user) %>
</div>