<div class="detail">
  <div class="content">
    <div class="line">
      <span><%= I18n.t("messages.base.login") %></span>
      <span><%= @user.username %></span>
    </div>
      
    <div class="line">
      <span><%= I18n.t("messages.base.email") %></span>
      <span><%= @user.email %></span>
    </div>
      
    <div class="line">
      <span><%= I18n.t("messages.users.base.connected_player") %></span>
      <span><%= @user.player ? get_player_name(@user.player) : I18n.t("messages.users.show.no_player") %></span>
    </div>
      
    <div class="line">
      <span><%= I18n.t("messages.base.active") %></span>
      <span><%= I18n.t(@user.activation_state == "active" ? "messages.base._yes" : "messages.base._no") %></span>
    </div>
      
    <div class="line">
      <span><%= I18n.t("messages.base.admin") %></span>
      <span><%= I18n.t(@user.is_admin ? "messages.base._yes" : "messages.base._no") %></span>
    </div>
      
    <div class="line">
      <span><%= I18n.t("messages.base.blocked") %></span>
      <span><%= I18n.t(@user.blocked ? "messages.base._yes" : "messages.base._no") %></span>
    </div>
  </div>
    
  <div class="footer">
    <div class="btn-group">
      <%= link_to I18n.t("messages.base.edit"), edit_user_path(@user), :class => "btn" %>
      <%= link_to I18n.t("messages.base.go_to_list"), users_path, :class => "btn" %>
    </div>
  </div>
</div>
