<%= form_for(@game, :html => { :class => "form-horizontal" }) do |f| %>
  <div class="control-group">
    <%= f.label I18n.t("messages.base.match"), :class => "control-label" %>
    <div class="controls">
        <input type="text" value="<%= @game.match.title %>" disabled="disabled" />
    </div>
  </div>
  <div class="control-group">
    <%= f.label I18n.t("messages.base.game_number"), :class => "control-label", :for => "game_game_number" %>
    <div class="controls">
        <%= f.number_field :game_number, :min => 1, :max => 11 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label I18n.t("messages.base.game_type"), :class => "control-label", :for => "game_game_type" %>
    <div class="controls">
        <%= f.select :game_type, options_for_select(get_game_type_options, @game.game_type.to_s) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label I18n.t("messages.base.score_home"), :class => "control-label", :for => "game_score_home" %>
    <div class="controls">
        <%= f.number_field :score_home, :min => 0, :max => 2 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label I18n.t("messages.base.score_home"), :class => "control-label", :for => "game_score_away" %>
    <div class="controls">
        <%= f.number_field :score_away, :min => 0, :max => 2 %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit :value => I18n.t("messages.games.#{params[:action]}.submit"), :class => "btn btn-primary" %>

      <% if @buttons %>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <%= I18n.t("messages.base.navigation") %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% for btn in @buttons %>
              <li>
                <%= link_to btn[:body], btn[:url], btn[:html_options] %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
