<div class="admin games show">
  <p id="notice"><%= notice %></p>

  <div class="detail">
    <div class="home-team line">
      <span>Domácí:</span>
      <span><%= @game.match.team_home.name %></span>
    </div>
    <div class="away-team line">
      <span>Hosté:</span>
      <span><%= @game.match.team_away.name %></span>
    </div>
    <div class="result line">
      <span>Výsledek</span>
      <span><%= @game.score_home && @game.score_away ? @game.score_home.to_s+":"+@game.score_away.to_s : "-:-" %></span>
    </div>
  </div>

  <div class="list last-bordered players">
    <table>
      <tr>
        <th>Hráči domácích</th>
        <th>Hráči hostů</th>
      </tr>
      <tr>
        <td>
          <% for gp in @home_players %>
            <div class="player">
              <%= get_player_name gp.player %>
              <%= link_to "-", gp, method: :delete, data: { confirm: 'Jste si jistý(á)?' }, :class => "btn" %>
            </div>
          <% end %>
          <% if @home_players.length < GAME_PLAYERS_COUNT[@game.game_type] %>
            <div class="icon warning" title="Příliš málo hráčů - melo by být <%= GAME_PLAYERS_COUNT[@game.game_type] %>"></div>
          <% end %>
        </td>
        <td>
          <% for gp in @away_players %>
            <div class="player">
              <%= get_player_name gp.player %>
              <%= link_to "-", gp, method: :delete, data: { confirm: 'Jste si jistý(á)?' }, :class => "btn" %>
            </div>
          <% end %>
          <% if @away_players.length < GAME_PLAYERS_COUNT[@game.game_type] %>
            <div class="icon warning" title="Příliš málo hráčů - melo by být <%= GAME_PLAYERS_COUNT[@game.game_type] %>"></div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <% if @home_players.length < GAME_PLAYERS_COUNT[@game.game_type] %>
            <%= form_for @new_home_player do |f| %>
              <%= f.hidden_field :team %>
              <%= f.hidden_field :game_id %>
              <%= f.select :player_id, options_for_select(get_player_options({ :team_id => @game.match.team_home_id })) %>
              <%= f.submit :value => "+", :class => "btn" %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @away_players.length < GAME_PLAYERS_COUNT[@game.game_type] %>
            <%= form_for @new_away_player do |f| %>
              <%= f.hidden_field :team %>
              <%= f.hidden_field :game_id %>
              <%= f.select :player_id, options_for_select(get_player_options({ :team_id => @game.match.team_away_id })) %>
              <%= f.submit :value => "+", :class => "btn" %>
            <%  end %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <% if current_user %>
    <div class="footer btn-group">
      <%= link_to 'Editovat', edit_game_path(@game), :class => "btn" %>
      <%= link_to 'Zpět na zápas', @game.match, :class => "btn" %>
    </div>
  <% end %>
</div>