<%= form_for(@league_team) do |f| %>
  <% if @league_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league_team.errors.count, "error") %> prohibited this league_team from being saved:</h2>

      <ul>
      <% @league_team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :league %><br />
    <%= f.select :league, options_for_select(get_league_options) %>
  </div>
  <div class="field">
    <%= f.label :team %><br />
    <%= f.select :team, options_for_select(get_team_options) %>
  </div>
  <div class="field">
    <%= f.label :season %><br />
    <%= f.number_field :season, :min => 2000, :max => 2100 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
