<div class="admin league-teams index">
  <h1>Listing league_teams</h1>

  <table>
    <tr>
      <th>League</th>
      <th>Team</th>
      <th>Season</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @league_teams.each do |league_team| %>
    <tr>
      <td><%= league_team.league %></td>
      <td><%= league_team.team %></td>
      <td><%= league_team.season %></td>
      <td><%= link_to 'Show', league_team %></td>
      <td><%= link_to 'Edit', edit_league_team_path(league_team) %></td>
      <td><%= link_to 'Destroy', league_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New League team', new_league_team_path %>
</div>