<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Jméno<br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    Příjmení<br />
    <%= f.text_field :second_name %>
  </div>
  <div class="field">
    Přezdívka<br />
    <%= f.text_field :nick %>
  </div>
  <div class="field">
    Tým<br />
    <%= f.select :team_id, options_for_select(get_team_options << ["zadny", nil]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
