<div class="admin players index">
  <h1>Seznam hráčů</h1>

  <div class="list">
    <table>
      <tr>
        <th>Jméno</th>
        <th>Tým</th>
        <th>Akce</th>
      </tr>

      <% @players.each do |player| %>
        <tr>
          <td><%= get_player_name(player) %></td>
          <td><%= player.team ? player.team.name : nil %></td>
          <td>
            <%= link_to 'Zobrazit', player, :class => "btn" %>
            <%= link_to 'Editovat', edit_player_path(player), :class => "btn" %>
            <%= link_to 'Smazat', player, method: :delete, data: { confirm: 'Jste si jistý(á)?' }, :class => "btn" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="footer btn-group">
    <%= link_to 'Nový hráč', new_player_path, :class => "btn" %>
  </div>
</div>