<div class="list">
  <table>
    <thead>
      <tr>
        <td><%= I18n.t('messages.base.player_name') %></td>
        <td><%= I18n.t('messages.base.team') %></td>
        <td><%= I18n.t('messages.base.action') %></td>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= get_player_name(player) %></td>
          <td><%= player.team ? link_to(player.team.name, player.team) : nil %></td>
          <td>
            <div class="btn-group">
              <%= link_to_show nil, player %>
              <%= link_to_edit nil, edit_player_path(player) %>
              <%= link_to_delete nil, player %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3">
          <div class="btn-group">
            <%= link_to I18n.t("messages.players.index.new"), new_player_path, :class => "btn btn-primary" %>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
