<div class="admin players show">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Jméno:</b>
    <%= @player.first_name %>
  </p>

  <p>
    <b>Příjmení:</b>
    <%= @player.second_name %>
  </p>

  <p>
    <b>Přezdívka:</b>
    <%= @player.nick %>
  </p>

  <p>
    <b>Tým:</b>
    <%= @player.team ? (link_to @player.team.name, @player.team) : nil %>
  </p>


  <%= link_to 'Edit', edit_player_path(@player) %> |
  <%= link_to 'Back', players_path %>
</div>