<div class="detail">
  <div class="content">
    <div class="line">
      <span><%= I18n.t("messages.base.first_name") %></span>
      <span><%= @player.first_name %></span>
    </div>
      
    <div class="line">
      <span><%= I18n.t("messages.base.surname") %></span>
      <span><%= @player.second_name %></span>
    </div>
      
    <div class="line">
      <span><%= I18n.t("messages.base.nick") %></span>
      <span><%= @player.nick %></span>
    </div>

    <div class="line">
      <span><%= I18n.t("messages.base.team") %></span>
      <span><%= @player.team ? (link_to @player.team.name, @player.team) : "žádný" %></span>
    </div>
  </div>

  <div class="footer">
    <div class="btn-group">
      <%= link_to I18n.t("messages.base.edit"), edit_player_path(@player), :class => "btn" %>
      <%= link_to I18n.t("messages.base.go_to_list"), players_path, :class => "btn" %>
    </div>
  </div>
</div>