<div class="admin matches add_all_games">
  <form action="/matches/<%= @match.id %>/">
    <div class="match"><%= I18n.t('messages.base.match') %>: <%= @match.team_home.name %> <%= I18n.t('messages.base.vs') %> <%= @match.team_away.name %></div>
    <div class="overwrite">
      <%= check_box_tag(:overwrite_existing) %>
      <%= label_tag(:overwrite_existing, I18n.t('messages.matches.add_all_games_form.overwrite_existing'))%>
    </div>
    <div class="players">
      <div class="players_home">
        <% for i in 1..4 do %>
          <div class="player">
            <div class="caption"><%= I18n.t('messages.base.player') %> <%= i %></div>
            <div class="selector">
              <%= select_tag "player["+i.to_s+"]", options_for_select(get_player_options({ :team_id => @match.team_home_id, :empty_allowed => true})) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="players_away">
        <% for i in ["A", "B", "C", "D"] do %>
          <div class="player">
            <div class="caption"><%= I18n.t('messages.base.player') %> <%= i %></div>
            <div class="selector">
              <%= select_tag "player["+i+"]", options_for_select(get_player_options({ :team_id => @match.team_away_id, :empty_allowed => true})) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= submit_tag(I18n.t('messages.base.set'), :class => "btn") %>
  </form>
</div>