<div class="admin matches index">
  <h1>Listing matches</h1>

  <table>
    <tr>
      <th>Team home</th>
      <th>Team away</th>
      <th>League</th>
      <th>Season</th>
      <th>Start date</th>
      <th>Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @matches.each do |match| %>
    <tr>
      <td><%= match.team_home %></td>
      <td><%= match.team_away %></td>
      <td><%= match.league %></td>
      <td><%= match.season %></td>
      <td><%= match.start_date %></td>
      <td><%= match.place %></td>
      <td><%= link_to 'Show', match %></td>
      <td><%= link_to 'Edit', edit_match_path(match) %></td>
      <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Match', new_match_path %>
</div>