<div class="admin matches index">
  <h1>Seznam zápasů</h1>

  <div class="list">
    <table>
      <tr>
        <th>Domácí</th>
        <th>Hosté</th>
        <th>Liga</th>
        <th>Sezóna</th>
        <th>Datum</th>
        <th>Místo</th>
        <th>Akce</th>
      </tr>

      <% @matches.each do |match| %>
        <tr>
          <td><%= match.team_home ? match.team_home.short_name : nil %></td>
          <td><%= match.team_away ? match.team_away.short_name : nil %></td>
          <td><%= match.league ? match.league.short_name : nil %></td>
          <td><%= match.season %></td>
          <td><%= match.start_date %></td>
          <td><%= match.place %></td>
          <td class="btn-group">
            <%= link_to 'Zobrazit', match, :class => "btn" %>
            <%= link_to 'Editovat', edit_match_path(match), :class => "btn" %>
            <%= link_to 'Smazat', match, method: :delete, data: { confirm: 'Jste si jistý(á)?' }, :class => "btn" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="footer btn-group">
    <%= link_to 'Nový zápas', new_match_path, :class => "btn" %>
  </div>
</div>