<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseDetail">
        <%= I18n.t "messages.base.detail" %>
      </a>
    </div>
    <div id="collapseDetail" class="accordion-body collapse in">
      <div class="accordion-inner">
        TODO overview
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseGames">
        <%= I18n.t "messages.base.games" %>
      </a>
    </div>
    <div id="collapseGames" class="accordion-body collapse">
      <div class="accordion-inner">
          <table class="games">
              <thead>
                
              </thead>
              <tbody>
                <% for game in @match.games %>
                  <tr>
                      <td><%= game.type_str %></td>
                      <td><%= game.home_players_str %></td>
                      <td><%= game.away_players_str %></td>
                      <td><%= game.score_str %></td>
                  </tr>
                <% end %>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseAttendance">
        <%= I18n.t "messages.base.attendance" %>
      </a>
    </div>
    <div id="collapseAttendance" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="attendance-line">
            <table>
                <tbody>
                    <% for date in @attendance %>
                    <tr>
                        <td class="left"><%= I18n.l date[:date].start_time %></td>
                        <td class="center">
                            <table>
                                <tbody>
                                    <tr>
                                        <% for s in date[:sequence] %>
                                        <% if s[:duration] > 0 %>
                                        <td class="<%= s[:class] %>" style="width: <%= "#{s[:perc]}%" %>">
                                          <a href="#"
                                             data-behaviour="popover"
                                             data-placement="bottom"
                                             title="<%= s[:popover_title] %>"
                                             data-content="<%= s[:popover_content] %>">
                                              &nbsp;<%= s[:total_players] %>&nbsp;
                                          </a>
                                        </td>
                                        <% end %>
                                        <% end %>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="right"><%= I18n.l date[:date].end_time %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <a href="/users/<%= current_user.id %>/fill_attendance?selected=<%= @match.id %>" class="label label-primary">
              <%= I18n.t "messages.base.fill_attendance" %>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>