<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
  
  
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <%= I18n.t "messages.base.attendance" %>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="attendance-line">
            <table>
                <tbody>
                    <% for date in @attendance %>
                    <tr>
                        <td class="left"><%= I18n.l date[:date].start_time %></td>
                        <td class="center">
                            <table>
                                <tbody>
                                    <tr>
                                        <% for s in date[:sequence] %>
                                        <% if s[:duration] > 0 %>
                                        <td class="<%= s[:class] %>" style="width: <%= "#{s[:perc]}%" %>">
                                          <a href="#"
                                             data-behaviour="popover"
                                             data-placement="bottom"
                                             title="<%= s[:popover_title] %>"
                                             data-content="<%= s[:popover_content] %>">
                                              &nbsp;<%= s[:total_players] %>&nbsp;
                                          </a>
                                        </td>
                                        <% end %>
                                        <% end %>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="right"><%= I18n.l date[:date].end_time %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <a href="/users/<%= current_user.id %>/fill_attendance?selected=<%= @match.id %>" class="label label-primary">
              <%= I18n.t "messages.base.fill_attendance" %>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>