<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseDetail">
        <%= I18n.t "messages.base.detail" %>
      </a>
    </div>
    <div id="collapseDetail" class="accordion-body collapse in">
      <div class="accordion-inner">
          <table class="overview">
              <tbody>
                  <tr>
                      <td class="logo home" rowspan="2">
                        <%= @match.team_home.logo_image(:large) %>
                      </td>
                      <td class="header" colspan="2">
                          <div>
                              <span><%= I18n.t "messages.base.competition" %>:</span>
                              <span><%= @match.league.short_name %></span>
                          </div>
                          <div>
                              <span><%= I18n.t "messages.base.season" %>:</span>
                              <span><%= @match.season %></span>
                          </div>
                          <div>
                              <span><%= I18n.t "messages.base.place" %>:</span>
                              <span><%= @match.place %></span>
                          </div>
                          <div>
                              <span><%= I18n.t "messages.base.start_date" %>:</span>
                              <span><%= I18n.l @match.start_date %></span>
                          </div>
                      </td>
                      <td class="logo away" rowspan="2">
                        <%= @match.team_away.logo_image(:large) %>
                      </td>
                  </tr>
                  <tr>
                      <td class="score home">
                          <div><%= @match.team_home.name %></div>
                          <%  if @match.started %>
                          <div><%= @match.score_home %></div>
                          <% end %>
                      </td>
                      <td class="score away">
                          <div><%= @match.team_away.name %></div>
                          <%  if @match.started %>
                          <div><%= @match.score_away %></div>
                          <% end %>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseGames">
        <%= I18n.t "messages.base.games" %>
      </a>
    </div>
    <div id="collapseGames" class="accordion-body collapse">
      <div class="accordion-inner">
          <table class="games">
              <thead>
                
              </thead>
              <tbody>
                <% for game in @match.games %>
                  <tr>
                      <td><%= game.type_str %></td>
                      <td><%= game.home_players_str %></td>
                      <td><%= game.away_players_str %></td>
                      <td><%= game.score_str %></td>
                  </tr>
                <% end %>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  
  <% if !@match.started %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseAttendance">
          <%= I18n.t "messages.base.attendance" %>
          (<%= @attendance_players[:yes_array].count %> / <%= @attendance_players[:yes_array].count + @attendance_players[:no_array].count %>)
        </a>
      </div>
      <div id="collapseAttendance" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="attendance-line">
              <div class="attendance attendance-yes">
                <span class="icon-ok"></span>
                <%= @attendance_players[:yes] %>
              </div>
              <div class="attendance attendance-no">
                <span class="icon-exclamation-sign"></span>
                <%= @attendance_players[:no] %>
              </div>
              <table>
                  <tbody>
                      <% for date in @attendance %>
                      <tr>
                          <td class="left"><%= I18n.l date[:date].start_time %></td>
                          <td class="center">
                              <table>
                                  <tbody>
                                      <tr>
                                          <% for s in date[:sequence] %>
                                          <% if s[:duration] > 0 %>
                                          <td class="<%= s[:class] %>" style="width: <%= "#{s[:perc]}%" %>">
                                            <a href="#"
                                               data-behaviour="popover"
                                               data-placement="bottom"
                                               title="<%= s[:popover_title] %>"
                                               data-content="<%= s[:popover_content] %>">
                                                &nbsp;<%= s[:total_players] %>&nbsp;
                                            </a>
                                          </td>
                                          <% end %>
                                          <% end %>
                                      </tr>
                                  </tbody>
                              </table>
                          </td>
                          <td class="right"><%= I18n.l date[:date].end_time %></td>
                      </tr>
                      <% end %>
                  </tbody>
              </table>
              <a href="/users/<%= current_user.id %>/fill_attendance?selected=<%= @match.id %>" class="label label-primary">
                <%= I18n.t "messages.base.fill_attendance" %>
              </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
    
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseComments">
        <%= I18n.t "messages.base.comments_with_count", :count => @match.comments.count %>
      </a>
    </div>
    <div id="collapseComments" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="comments">
          <% for comment in @match.comments.where(:comment_id => nil).order(:created_at).all %>
            <%= render :partial => 'comment', :locals => {:comment => comment} %>
          <% end %>
        </div>

        <% if current_user %>
          <div class="new-comment<%= @match.comments.count > 0 ? " spacer" : "" %>">
            <%= form_for @comment do |f| %>
              <%= f.text_field :title %>
              <%= f.text_area :content, :rows => 3 %>
              <%= f.hidden_field :match_id %>
              <%= f.submit I18n.t("messages.base.add_comment"), :class => "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>