<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%= I18n.t("messages.application.header") %></a>

      <ul class="nav">
        <li>
          <div class="btn-toolbar">
            <%# user %>
            <div class="btn-group">
              <%= link_to current_user, :class => "btn btn-warning" do %>
                <span class="icon-user"></span>
                <%= current_user.get_name %>
              <% end %>
              <div class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to I18n.t("messages.menu.user.edit"), edit_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to I18n.t("messages.menu.user.change_password"), "/users/#{current_user.id}/change_password" %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to I18n.t("messages.menu.base.logout"), logout_url %>
                </li>
              </ul>
            </div>
              
            <%# stats %>
            <div class="btn-group">
              <div class="btn btn-warning" data-toggle="dropdown">
                <%= I18n.t("messages.menu.stats.title") %>
              </div>
              <div class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to I18n.t('messages.menu.stats.players'), "/stats/players" %>
                </li>
                <li>
                  <%= link_to I18n.t('messages.menu.stats.player'), "/stats/player" %>
                </li>
                <li>
                  <%= link_to I18n.t('messages.menu.stats.team'), "/stats/team" %>
                </li>
              </ul>
            </div>
        
            <%# admin %>
            <% if current_user.is_admin %>
              <div class="btn-group">
                <div class="btn btn-warning" data-toggle="dropdown">
                  <%= I18n.t("messages.menu.admin.title") %>
                </div>
                <div class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                  <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to I18n.t('messages.menu.admin.leagues'), leagues_path %>
                  </li>
                  <li>
                    <%= link_to I18n.t('messages.menu.admin.teams'), teams_path %>
                  </li>
                  <li>
                    <%= link_to I18n.t('messages.menu.admin.players'), players_path %>
                  </li>
                  <li>
                    <%= link_to I18n.t('messages.menu.admin.matches'), matches_path %>
                  </li>
                  <li>
                    <%= link_to I18n.t('messages.menu.admin.users'), users_path %>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
      
      <div class="pull-right">
        <%= link_to I18n.t("messages.menu.base.logout"), logout_url, :class => "btn" %>
      </div>
      
      <div class="nav-collapse collapse"><!-- hidden when 940px or less --></div>
    </div>
  </div>
</div>
