<div class="prepend-wrapper">
  <div class="input-prepend">
    <span class="add-on"><%= I18n.t "messages.base.player" %></span>
    <select id="player_select" class="form-control">
      <% for player in @players %>
        <option value="<%= player.id %>"<%= @player == player ? " selected" : nil %>><%= get_player_name(player) %></option>
      <% end %>
    </select>
  </div>
    
  <div class="input-prepend">
    <span class="add-on"><%= I18n.t "messages.base.season" %></span>
    <%= number_field_tag "season_select", "season_select", :min => 2000, :max => 2100, :class => "form-control", :value => params[:season] %>
  </div>
    
  <button class="btn btn-default" type="button" onclick="changePlayer();">
    <%= I18n.t "messages.base.show" %>
  </button>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">
        <%= I18n.t('messages.stats.player.title_game_types') %>
      </a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>
        <table class="stats">
          <thead>
            <tr>
              <td><%= I18n.t('messages.base.game_type') %></td>
              <td><%= I18n.t('messages.base.games_played') %></td>
              <td><%= I18n.t('messages.base.w') %></td>
              <td><%= I18n.t('messages.base.l') %></td>
              <td><%= I18n.t('messages.base.score') %></td>
              <td><%= I18n.t('messages.base.percentage') %></td>
            </tr>
          </thead>
          <tbody>
            <% for game_type in @stats.sort{|e1, e2| e2[:rate] <=> e1[:rate]} %>
              <tr>
                <td><%= I18n.t(game_type[:game_type] < GAME_TYPE_STR.length ? GAME_TYPE_STR[game_type[:game_type]] : "messages.base.total") %></td>
                <td><%= game_type[:gp] %></td>
                <td><%= game_type[:w] %></td>
                <td><%= game_type[:l] %></td>
                <td><%= game_type[:gf].to_s+":"+game_type[:ga].to_s %></td>
                <td><%= game_type[:percentage] %> %</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </p>
    </div>
  </div>
</div>
