<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('messages.application.title') %></title>
    <%= stylesheet_link_tag    "application" %>
    <% for file_css in get_additional_styles %>
      <%= stylesheet_link_tag file_css, :media => "all" %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <% for file_js in get_additional_scripts %>
      <%= javascript_include_tag file_js %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <% if current_user %>
      <%= render "menu_loggedIn" %>
    <% else %>
      <%= render "menu_notLoggedIn" %>
    <% end %>
    <%= render "login_form" %>
    
    <div id="page" class="container">
      <%# title just when I have message for it %>
      <% if !(I18n.t "messages.titles." + params[:controller] + "." + params[:action]).starts_with?("translation missing: ") %>
        <div id="page-title">
          <%= I18n.t "messages.titles." + params[:controller] + "." + params[:action], @title_params ? @title_params : nil %>
        </div>
      <% end %>
      
      
      <%= render "notes" %>
      <%= render "errors" %>

      <div id="page-data">
        <%= yield %>
      </div>
    </div>
    
	<script>
      // TODO analytics
      /*
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-52309443-1', 'auto');
	  ga('send', 'pageview');
      */
	</script>
  </body>
</html>