<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('messages.application.title') %></title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      $(function() {
        $( "#menu" ).menu();
      });
    </script>
  </head>
  <body>

    <% if current_user %>
      <ul id="menu">
        <li>
          <a href="#"><%= I18n.t('messages.menu.stats.title') %></a>
          <ul>
            <li><%= link_to I18n.t('messages.menu.stats.players'), "/stats/players" %></li>
            <li><%= link_to I18n.t('messages.menu.stats.player'), "/stats/player" %></li>
            <li><%= link_to I18n.t('messages.menu.stats.team'), "/stats/team" %></li>
          </ul>
        </li>
        <li>
          <a href="#"><%= I18n.t('messages.menu.admin.title') %></a>
          <ul>
            <li><%= link_to I18n.t('messages.menu.admin.leagues'), leagues_path %></li>
            <li><%= link_to I18n.t('messages.menu.admin.teams'), teams_path %></li>
            <li><%= link_to I18n.t('messages.menu.admin.players'), players_path %></li>
            <li><%= link_to I18n.t('messages.menu.admin.matches'), matches_path %></li>
          </ul>
        </li>
        <li>
          <a href="#"><%= I18n.t('messages.menu.user.title') %></a>
          <ul>
            <li><%= link_to I18n.t('messages.menu.user.edit'), edit_user_path(current_user.id) %></li>
            <li><%= link_to I18n.t('messages.menu.user.add'), new_user_path %></li>
            <li><%= link_to I18n.t('messages.menu.user.logout'), :logout %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <ul id="menu">
        <li>
          <a href="#"><%= I18n.t('messages.menu.stats.title') %></a>
          <ul>
            <li><%= link_to I18n.t('messages.menu.stats.players'), "/stats/players" %></li>
            <li><%= link_to I18n.t('messages.menu.stats.player'), "/stats/player" %></li>
            <li><%= link_to I18n.t('messages.menu.stats.team'), "/stats/team" %></li>
          </ul>
        </li>
        <li>
          <a href="#"><%= I18n.t('messages.menu.user.title') %></a>
          <ul>
            <li><%= link_to I18n.t('messages.menu.user.login'), :login %></li>
          </ul>
        </li>
      </ul>
    <% end %>

    <div id="header"><%= I18n.t('messages.application.header') %></div>

    <div id="content">
      <div>
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>
      </div>

      <%= yield %>
    </div>

  </body>
</html>